.body{
    background-color: lightseagreen;
}

.footer{
    width: 99%;
    height: 250px;
    border: 1px solid black;
    bottom: 0;
    position: absolute;
    margin: 0;
}

img{
    height: 250px
}

.container{
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}